* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3B8EA5;
    text-align: center;
    color: #F5EE9E;
    font-family: sans-serif;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* Screen Management */
.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hidden {
    display: none !important;
}

#mode-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Game Board */
.container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    border: none;
}

.box {
    background-color: #F5EE9E;
    height: 18vmin;
    width: 18vmin;
    border: 1px solid transparent;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 12 vmin;
    text-align: center;
    color: #AB3428;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Writing Animation for X and O */
.box span {
    display: inline-block;
    animation: drawIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes drawIn {
    0% { transform: scale(0) rotate(-15deg); opacity: 0; }
    100% { transform: scale(1) rotate(0deg); opacity: 1; }
}

/* Buttons */
.controls {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.resetGame, #back-to-menu, .menu-btn {
    height: 8vmin;
    min-width: 25vmin;
    padding: 0 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 1.5rem;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.2s;
}

.resetGame:hover, #back-to-menu:hover, .menu-btn:hover {
    background-color: #333;
}

#result-screen {
    margin-top: 10vmin;
}